<% content_for :title, "Editing work log" %>

<h1>Editing work log</h1>

<%= render "form", work_log: @work_log %>

<br>

<div>
  <%= link_to "Show this work log", @work_log %> |
  <%= link_to "Back to work logs", work_logs_path %>
</div>
